@font-face {
  font-family: OldLondon;
  src: url("../fonts/OldLondon.ttf");
}
html {
  scroll-behavior: smooth;
}
a {
  color: goldenrod;
}
a:active {
  color: white;
}
blockquote {
  padding: 1em 2em;
  border-left: 5px inset black;
  width: 50%;
}
.active {
  color: goldenrod !important;
}
.hidden {
  display: none;
}
#logo {
  text-decoration: none;
}
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  font-family: OldLondon, fantasy;
  overflow: hidden;
  padding: 1em;
  text-shadow: 1px 4px 4px #555;
  background-image: url("../img/star-grassbg.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  box-shadow: inset 5px 5px 50px black;
  border-bottom: 5px solid black;
}
.header .left {
  display: block;
  font-size: 8em;
  max-height: 80%;
  background-image: url("../img/wood_texture-horizontal.jpg");
  border: rosybrown 3px solid;
  border-radius: 2.5px;
  padding: 2rem;
  color: goldenrod;
}
.header .right {
  display: flex;
  gap: 1em;
}
.header .barrel {
  width: 5vw;
  height: 5vw;
  font-size: 2.75em;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: rosybrown 3px solid;
  text-align: center;
  display: flex;
  background-image: url("../img/wood_texture-vertical.jpg");
  background-size: 200%;
  color: white;
  padding: 1em;
  text-decoration: none;
  transition: 500ms ease-in-out;
}
.header .barrel:hover {
  transform: scale(1.25);
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.dead-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing {
  background-image: url("../img/ambassador-panorama.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  background-color: black;
}
.landing h2 {
  margin: 0;
  font-size: 3em;
}
.landing p {
  font-size: 2em;
}
.landing .card {
  height: 50%;
}
.card {
  padding: 5rem;
  background-color: rgba(50, 50, 50, 0.85);
}
.home-splash {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.below-splash {
  background-image: url("../img/wood_texture-horizontal.jpg");
  overflow: hidden;
  border-top: 2px solid black;
  position: relative;
  color: white;
  z-index: 1;
}
.below-splash .table {
  position: absolute;
  overflow: hidden;
  background-image: url("../img/wood_texture-vertical.jpg");
  background-size: 100%;
  width: 60rem;
  height: 60rem;
  border-radius: 100%;
  border: rosybrown solid 1px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.below-splash .column-grid-content {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto;
  gap: 1em;
  z-index: 3;
}
.below-splash .column-grid-content .card {
  width: 40vw;
  padding: 2em;
  background-color: rgba(50, 50, 50, 0.9);
}
.below-splash .column-grid-content .card .map-container {
  background-color: #dcb88d;
  padding: 1em;
  width: 80%;
  height: 50%;
  margin-bottom: 5em;
}
.below-splash .column-grid-content .card iframe {
  box-shadow: 5px 5px 5px black;
}
.below-splash .column-grid-content .card h2 {
  font-size: 3em;
}
.below-splash .column-grid-content .card p {
  font-size: 1.25em;
}
.sidebar {
  border-right: 5px inset black;
  height: 100%;
}
.sidebar ul {
  list-style: none outside;
  margin-left: -2ch;
}
.sidebar .wrapper {
  top: 0;
  position: sticky;
  height: 100%;
}
.menu-column.grid {
  display: grid;
  grid-template-columns: 16% 1fr;
}
.menu-column {
  width: 74vw;
  color: #333333;
  background-color: floralwhite;
  padding: 2vw;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.8);
}
.menu-column .menu-cell-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.menu-column .menu-cell-container .menu-section.build-pizza .item {
  width: 100% !important;
}
.menu-column .menu-cell-container .menu-section.build-pizza .item .prices {
  margin-bottom: 1em;
}
.menu-column .menu-cell-container .menu-section {
  width: 100%;
  padding: 1em;
}
.menu-column .menu-cell-container .menu-section hr {
  margin-top: 4em;
}
.menu-column .menu-cell-container .menu-section .menu-items {
  display: flex;
  flex-wrap: wrap;
}
.menu-column .menu-cell-container .menu-section .menu-items .item {
  position: relative;
  border: dotted black 2px;
  width: 21%;
  padding: 1em;
}
.menu-column .menu-cell-container .menu-section.pizza .item {
  width: 45%;
}
.menu-column .menu-cell-container .menu-section .subs .item {
  width: 45% !important;
}
.footer {
  position: static;
  height: 30vh;
  background-color: #333333;
  border-top: solid 2px white;
  display: grid;
  grid-template-columns: 1fr auto;
}
/*# sourceMappingURL=main.css.map */